body {
    text-align: center;
    color: #000000;
    font-family: "MS UI Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

a {
    font-size: 30px;
    padding: 10px 20px;
    margin: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color: #89c997;
    color: white;
}

a:hover {
    background-color: #45a049;
}